body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* COMMON */

.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* HEADER */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, .info {
    display: none;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.web-logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
    
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .info {
        font-style: normal;
        display: block;
    }

    .nav-list .link {
        padding: 24px 0;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #2E2F42;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-list .link:active,
    .link.current {
        color: #404BBF;
    }
    
    .nav-list .link:hover,
    .nav-list .link:focus {
        color: #404BBF;
        text-decoration: underline;
    }
    
    .link.current {
        position: relative;
    }
    
    .link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;
    
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
     }

    .contact-list .link {
        display: block;
        font-size: 12px;
        color: #434455;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-list .link:hover,
    .contact-list .link:focus {
        color: #404BBF;
        text-decoration: underline;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        align-items: center;
        gap: 40px;
        flex-direction: row;
    }

    .contact-list .link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* MOBILE MENU */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42
}

.mobile-menu-nav {
    margin-bottom: 168px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px;
    
}

.mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-item.current {
    color: #404bbf;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-contacts-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.mobile-menu-link.current {
    color: #4d5ae5;
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-social-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* HERO */

.block {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 320px;
    margin: auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .block {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-@2x.jpg);
    }
}

.page-title {
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 216px;
}

.button-item {
    cursor: pointer;
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .block {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .block {
                background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-@2x.jpg);
            }
        }
    
    .page-title {
        font-size: 56px;
        margin-bottom: 36px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .block {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .block {
                background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk-@2x.jpg);
            }
    }

    .page-title {
        margin-bottom: 48px;
    }

    .button-item:hover,
    .button-item:focus {
        background-color: #404BBF;
        color: white;
    }
}


/* Points section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.points-section {
    padding: 96px 0;
}

.points {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.points-list {
    width: 100%;
}

.container-icon {
    display: none;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points .item-name {
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.points .point-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .points-list {
        width: calc((100% - 72px) / 2);
    }

    .points .item-name {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1440px;
        padding-left: 15px;
        padding-right: 1px;
    }

    .points-section {
        padding: 120px 0;
    }

    .points {
        gap: 24px;
    }

    .points-list {
        width: calc((100% - 72px) / 4);
    }

    .points .item-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .container-icon {
        display: flex;
    }
}

/* TEAM */

.background-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
        justify-content: center;
            align-items: center;
}

.background-card {
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-card {
    padding: 32px 0;
}

.member-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.job {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-list-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}



@media screen and (min-width: 768px) {
    .team-list {
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .background-team {
        padding: 120px 0;
    }

    .social-link:hover,
    .social-link:focus {
        background-color: #404bbf;
    }
}

/* PORTFOLIO */

.portfolio-section {
    padding: 96px 0;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.background-port {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    display: none;
}

.portfolio-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.work-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.type {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .project-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .background-port {
        width: calc((100% - 72px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding: 120px 0;
    }

    .project-list {
        row-gap: 48px;
    }

    .background-port {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .background-port:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .background-port:hover .portfolio-text {
        transform: translateY(0%);
    }

    .portfolio-text {
        display: flex;
        position: absolute;
        font-size: 16px;
        top: 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

/* FOOTER */

.footer-section {
    background-color: #2E2F42;
    padding: 96px 0px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.logo-low {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    padding-left: 86px;
}

.motto {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
}

.footer-social-media-container {
    margin-left: 40px;
}

.footer-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    padding-left: 56px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-list-item {
    width: 40px;
    height: 40px;
}

.footer-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    padding-left: 106px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
}

.footer-input::placeholder {
    color: #fff;
}

.footer-btn {
    height: 40px;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-left: 61px;
}

.form-icon {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer-container {
        column-gap: 24px;
        align-items: baseline;
        row-gap: 72px;
        margin-left: 108px;
        padding: 0;
    }

    .footer-logo {
        padding-left: 0;
    }

    .motto {
        width: 264px;
    }

    .footer-social-media-container {
        margin-left: 0;
    }

    .footer-item-title {
        padding-left: 0;
    }

    .subscribe {
        padding-left: 0;
    }

    .footer-form {
        gap: 0;
    }

    .footer-input {
        width: 264px;
    }

    .footer-btn {
        margin-left: 24px;
    }

}

@media screen and (min-width: 1158px) {
    .footer-container {
        row-gap: 0;
        column-gap: 0;
        padding-left: 0;
        
    }

    .footer-section {
        padding: 100px 0; 
    }

    .footer-items {
         margin-right: 120px;
         
    }

    .motto {
        width: 264px;
    }

    .footer-list-link:hover,
    .footer-list-link:focus {
        background-color: #31d0aa;
    }

    .footer-form-container {
        margin-left: 80px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-btn {
        margin-left: 24px;
    }
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 16px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.name-form {
    margin-bottom: 8px;
}

.name-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.name-input {
    position: relative;

}

.enter-name {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form {
    margin-bottom: 16px;
}

.comment-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.privacy {
    margin-bottom: 24px;
}

.privacy-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-span {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    
}


.privacy-input:checked+.privacy-label .privacy-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-left: 44px;
}


@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .form-btn {
        margin-left: 95px;
    }


}

@media screen and (min-width: 1158px) {
    .modal-button:hover,
    .modal-button:focus {
        background-color: #404bbf;
        border: none;
    }

    .modal-button:hover .icon-close,
    .modal-button:focus .icon-close {
        fill: #fff;
    }

    .icon-close:hover,
    .icon-close:focus {
        fill: #ffffff;
    }

    .enter-name:focus {
        border-color: #4d5ae5;
    }

    .enter-name:focus+.icon-person {
        fill: #4d5ae5;
    }


    
}